:root{
    --shadow1 : 1px 2px 2px 1px rgba(0, 0, 0, 0.233);
    --total :   black;
    --font1:  'Poppins', sans-serif;
    --hovers: rgb(192, 185, 255);
    --color1:   #8d4494a6;
    --color2: rgb(40, 50, 128);
        --color3: #6B5CFF;
    --color4: rgba(234, 162, 252, 0.582);
    --color5:#DAD5FC;
    --color6:aliceblue;
    --color7:rgb(241,239,255);
    }
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

footer{
    width: 100%;
    height: auto;
    box-shadow: var(--shadow1);
    margin-top: 140px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.logo-and-info{
    position: relative;
    flex-direction: row;
    width: 99%;
    height: 99%;
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}
.part-1{
    width: 400px;
    height: auto;

}
.logo{
    width: 100%;
    height: 300px;
    background-image: url(/e-comerse/media/ass-v1/logos/Fondo-claro-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.info{
    text-align: center;
    color: rgba(0, 0, 0, 0.559);
}
.part-2{
    width: 400px;
    height: auto;

    margin-left: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}
.part-2 a{
    font-size: 1.2em;
    margin-top: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.507);
}
.part-2 a:hover{
    color: var(--color3);
}
