*{

    padding: 0%;
    box-sizing: border-box;
    opacity: 0;
    /*apertura sin comentar*/
    animation-name: op;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin: 5px;
    transition: 0.2s;
}
@keyframes op{

    100%{
        opacity: 1;
    }

}
body::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-thumb{
    background-color: #6B5CFF;
    border-radius: 1px;
}
body::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0)
}